[submodule "submodules/atom"]
	path = submodules/atom
	url = git@github-ca.corp.zynga.com:ccampbell/atom.git
[submodule "submodules/style"]
	path = submodules/style
	url = git@github-ca.corp.zynga.com:ccampbell/style.git
[submodule "submodules/UglifyJS"]
	path = submodules/UglifyJS
	url = https://github.com/mishoo/UglifyJS.git
